body{
  background: url(../images/backgrounds/dropadd.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

#myTable{
  margin-top: 35px;
  margin-bottom: 35px;
}

.add-btn{
  width: 40px;
  text-align: center;
  float: right;
  border: none;
  margin-left: 2px;
  color: #e74c3c;
}

.star-btn{
  float: left;
  margin-right: 2px;
  margin-left: 5px;
  border: none;
}

.star-btn:hover, .add-btn:hover{
  color: black;
  cursor: pointer;
}

.nav-tabs{
  background-color:#161616;
}

#myTab{
  width: 100%;
}

label{
  color: white;
  font-size: 15px;
}


tr:hover {
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
}

tr > .add-btn:hover{
  color: white;
} 

caption {
    color: white;
    font-size: 20px !important;
    font-weight: bold;
    text-align: right;
}

caption:hover{
  cursor: pointer;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

.roster-img{
  width: 70px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

#completeAdd{
  background: black;
  color: #e74c3c;
  text-align: center;

}


@media screen and (max-width: 435px) {
    .hide { display: none; }
    caption {font-size: 10px !important}
    th,td { font-size: 9px !important; }
}

@media screen and (max-width: 414px) {
    .hide { display: none; }
    caption {font-size: 10px !important}
    th,td { font-size: 9px !important; }
    section h2.section-heading{
      margin-left: 5px;
    }
    section h3.section-heading{
      margin-left: 140px;
    }
    element.style{
      padding-right: 30px;
      padding-left: 7px;
    }
}

@media screen and (max-width: 375px) {
    .hide { display: none; }
    th,td { font-size: 10px !important; }
    .roster-img{
  width: 40px;
  height: 30px;
  border-radius: 40%;
  float: left;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child{
padding-right: 65px !important;
}
}

@media screen and (max-width: 320px) {
    .hide { display: none; }
    caption {font-size: 9px !important}
    th,td { font-size: 7px !important; }
}
