body{
  background: url(../images/backgrounds/dropadd.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/*
.media:hover{
    background: white;
    color:black;
    cursor: pointer;
}
*/
.grey-area{
  background: #303136;
}

.nav-tabs{
  background-color:#161616;
}

#myTab{
  width: 100%;
}

#trade-image{
  font-size:60px;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 25%;
}

.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}

.nav-tabs > li > a{
  border: medium none;
  color: #e74c3c;
  font-size: 25px;
  margin-left: 30px;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #303136 !important;
}

.resize{
  width: 60px;
  height: 55px;
  border-radius: 50%;
  float: left;
}

.resize:hover{
  cursor: pointer;
}


#add-image{
  height: 140px;
  width: 140px;
  border-radius: 15%;
  margin-top: 15px;
  text-align: center;
}

#add-name{
  font-size: 20px;
  margin-left: 0;
  padding-left: 0;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

#close{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

#close:hover{
  cursor: pointer;
}

.modal {
    width: 700px;
    height:250px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 35%;
    margin-top: -100px;
    margin-left: -100px;
    background-color: #303136;
    color: #e74c3c;
    border-radius: 5px;
    text-align: center;
    z-index: 11; 
}

@media (max-width: 1092){

}