body{
  background: url(../images/backgrounds/draftday.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.onTheClock{
    background:#e74c3c;
}

.main{
    margin-top:20px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.col-md-2, .col-md-8{
	background: #303136;
	padding-left:0;
	padding-right:0;
}


 /* TOP LEFT SECTION */
 .top-left{
	background:#e74c3c;
	color:white;
	border-radius: 2%;
	width: 100%;
	text-align: center;
}

.time{
	font-size: 90px;
}

.clock{
	padding:15px;
	border-radius: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	display: inline;
}

.clock-image{
	height: 60px;
	width:60px;
}

.clock-time{
	font-size: 15px;
}

.clock-team{
	font-size: 20px;
}


/* TOP MIDDLE SECTION */
.top-middle{	
	height: 250px;
	padding-left: 40px;
}

#intro-box{
	text-align: center;
	font-size: 60px;
	padding-top: 15px;
}

.selected-team{
	display: inline;
	font-size: 40px;
}

#selected-league{
	font-size: 15px;
}

.selected-info{
	padding-top: 10px;
	padding-bottom: 20px;
}

#selected-logo{
	height: 100px;
	width: 140px;
	border-radius: 5%;
}

#selected-stats{
	position: relative;
	font-size: 25px;
	margin-left: 100px;
}

#stat-box{
	border-radius: 5%;
	text-align: center;
	padding: 10px;
	width: 20px;
	margin-left: 5px;
	display: inline;
}

.selected-buttons{
	padding-bottom:20px;
}

.btn{
	margin-right: 5px;
}

.btn-info{
	width: auto;
}




/* TABLE SECTION */
.list{
	padding: 20px;
	margin-bottom: 0;
	max-height: auto;
}


/* DRAFT QUEUE*/
.draft-queue{
	height: 600px;
}

.queue-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.queue-list{
	height: auto;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.roster-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;	
}

tr:hover {
	background-color: #e74c3c;
	cursor:pointer;
}

caption {
    color: white;
    font-size: 20px !important;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

/* ROUND SECTION */
.top-right{
    height: 870px;   
    overflow-y : scroll;
}

.round-image{
	width: 50px;
	height: 50px;
}

.round-item{
	width: auto;
}



@media(min-width: 1200px){
	.main {
    	width: 95%;
    	height: 100%;
	}
}



