body{
  background: url(../images/backgrounds/draftday.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.onTheClock{
    background:#e74c3c;
}

.fa-ban, .fa-check-circle, .fa-plus{
    margin-left: 20px;
}

.main{
    margin-top:20px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.col-md-2, .col-md-8{
	background: #303136;
	padding-left:0;
	padding-right:0;
}


 /* TOP LEFT SECTION */
 .top-left{
	background:#e74c3c;
	color:white;
	border-radius: 2%;
	width: 100%;
	text-align: center;
}

.time{
	font-size: 90px;
}

.clock{
	padding:15px;
	border-radius: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	display: inline;
}

.clock-image{
	height: 60px;
	width:60px;
}

.clock-time{
	font-size: 15px;
}

.clock-team{
	font-size: 20px;
}


/* TOP MIDDLE SECTION */
.top-middle{	
	height: 250px;
	padding-left: 40px;
}

#intro-box{
	text-align: center;
	font-size: 60px;
	padding-top: 15px;
}

.selected-team{
	display: inline;
	font-size: 40px;
}

#selected-league{
	font-size: 15px;
}

.selected-info{
	padding-top: 10px;
	padding-bottom: 20px;
}

#selected-logo{
	height: 100px;
	width: 140px;
	border-radius: 5%;
}

#selected-stats{
	position: relative;
	font-size: 25px;
	margin-left: 100px;
}

#stat-box{
	border-radius: 5%;
	text-align: center;
	padding: 10px;
	width: 20px;
	margin-left: 5px;
	display: inline;
}

.selected-buttons{
	padding-bottom:20px;
}

.btn{
	margin-right: 5px;
}

.btn-info{
	width: auto;
}




/* TABLE SECTION */
.list{
	padding: 20px;
	margin-bottom: 0;
	max-height: auto;
}


/* DRAFT QUEUE*/
.draft-queue{
	height: 600px;
}

.queue-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

#scroll{
        height: 700px;   
        overflow-y : scroll;
}

.queue-list{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.roster-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;	
}

.roster-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
}

tr:hover {
	background-color: #e74c3c;
	cursor:pointer;
}

caption {
    color: white;
    font-size: 20px !important;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

/* ROUND SECTION */
.top-right{
    height: 870px;   
    overflow-y : scroll;
}

.round-image{
	width: 50px;
	height: 50px;
}

.round-item{
	width: auto;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 56px;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
/*
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
*/

.status_green{
   color: green; 
}

.status_red{
    color: #e74c3c;
}

.status_blue{
    color: blue;
}

.status_green:hover{
     color: green;   
}

.status_red:hover{
    color: #e74c3c; 
}

.status_blue:hover{
    color:blue;
}



.fa-plus:hover{
    cursor:pointer;
}




/* Position the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important; /* Override the font-size specified earlier (36px) for all navigation links */
}

#myNav{
    width: 100%;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}


@media screen and (max-width: 1750px) {    
    #myTable_wrapper{
        width: 1050px;
    }
}

@media screen and (max-width: 1690px) {
    .time{
        font-size: 75px;
    }
    
    #myTable_wrapper{
        width: 1000px;
    }
}

@media screen and (max-width: 1600px) {    
    #myTable_wrapper{
        width: 950px;
    }
    
    .queue-list td{
        font-size: 15px !important;
    }
    
    .roster-img{
        width: 30px;
        height: 30px;
    }
    
    .round-section td{
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1525px) {
    #myTable_wrapper{
        width: 900px;
    }
}

@media screen and (max-width: 1450px) {
    #myTable_wrapper{
        width: 850px;
    }
    
    .time{
        font-size: 65px;
    }
}

@media screen and (max-width: 1370px) {
    #myTable_wrapper{
        width: 800px;
    }
    
    .time{
        font-size: 60px;
    }
    
    .selected-team{
        font-size: 30px;
    }
    
    #selected-stats{
	font-size: 18px;
    }
    
    #selected-logo{
        height: 70px;
	width: 90px;
    }
    
    .top-middle{
        height: 200px;
    }
    
    #intro-box{
        font-size: 50px;
    }
}

@media screen and (max-width: 1288px) {
    #myTable_wrapper{
        width: 750px;
    }
    
    #intro-box{
        font-size: 40px;
    }
}

@media screen and (max-width: 1210px) {
    #myTable_wrapper{
        width: 700px;
    }
    
    #table-body td{
        font-size: 15px !important;
    }
   
    th{
        font-size: 15px !important;
    }
    
    .time{
        font-size: 55px;
    }
    
    .clock-team, .clock-time{
        font-size: 15px;
    }
}

@media screen and (max-width: 1125px) {
    #myTable_wrapper{
        width: 650px;
    }
    
    .queue-list td{
        font-size: 12px !important;
    }
    
    .roster-img{
        width: 20px;
        height: 20px;
    }
    
    .round-section td{
        font-size: 12px !important;
    }
    
    .pagination{
        font-size: 10px;
    }
    
}

@media screen and (max-width: 1050px) {
    #myTable_wrapper{
        width: 600px;
    }
    
    .time{
        font-size: 50px;
    }
    
    .clock-team, .clock-time{
        font-size: 12px;
    }
    
    .selected-team{
        font-size: 25px;
    }
    
    #selected-stats{
	font-size: 15px;
    }
    
    #selected-logo{
        height: 50px;
	width: 70px;
    }
    
    .top-middle{
        height: 180px;
    }
    
    #intro-box{
        font-size: 40px;
    }  
}

@media screen and (max-width: 990px) {
    #scroll{
        height: 300px;
    }
    
    #myTable_wrapper{
        width: 100%;
    }
    
    .table-responsive{
        border: none;
    }
}

@media screen and (max-width: 670px) {
    .btn-lg{
        padding:5px 8px ;
        font-size: 12px;
    }
    
    #intro-box{
        font-size: 30px;
    }  
    
    #selected-stats{
	margin-left: 50px;
    }
    .top-middle{
        height: 130px;
    }
    
}

@media screen and (max-width: 570px) {    
    #intro-box{
        font-size: 25px;
    }  
    
    #selected-stats{
	margin-left: 20px;
    }
    
    #stat-box{
        margin-left: 1px;
        padding: 5px;
    }  
}

@media screen and (max-width: 500px) {        
    #selected-stats{
	font-size: 10px;
    }

}

@media screen and (max-width: 415px) {            
    .top-middle{
        height: 150px;
    }
    
    #selected-stats{
        display: block;
        margin-top: 15px;
        margin-left: 0xp;
        padding: 0px;
    }
    
    .top-middle{
        margin-bottom: 20px;
    }
   
}

@media screen and (max-width: 380px) {            
    .selected-team{
        font-size: 20px;
    }
    
    #selected-league{
        font-size: 10px;
    }
    
    #intro-box{
        font-size: 20px;
    }
    
    .top-middle{
        padding-left: 8px;
    }
}

@media(min-width: 10px){
    .main {
    	width: 95%;
    	height: 100%;
    }   
}



