body{
  background: url(../images/other/draftday.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.col-md-2, .col-md-8{
	padding-left:0;
	padding-right:0;
}


 /* TOP LEFT SECTION */
 .top-left{
	background:#e74c3c;
	color:white;
	border-radius: 2%;
	width: 100%;
	text-align: center;
}

.time{
	font-size: 90px;
}

.clock{
	padding:15px;
	border-radius: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	display: inline;
}

.clock-image{
	height: 60px;
	width:60px;
}

.clock-time{
	font-size: 15px;
}

.clock-team{
	font-size: 20px;
}


/* TOP MIDDLE SECTION */
.top-middle{	
	background:black;
	color:#e74c3c;
	border-radius: 2%;
	height: auto;
	padding-left: 40px;
}
#selected-team{
	display: inline;
	font-size: 40px;
}

#selected-league{
	font-size: 15px;
}

.selected-info{
	padding-top: 10px;
	padding-bottom: 20px;
}

#selected-logo{
	height: 100px;
	width: 140px;
	border-radius: 5%;
}

#selected-stats{
	position: relative;
	font-size: 25px;
	margin-left: 100px;
}

#stat-box{
	color: black;
	border-radius: 5%;
	color:#e74c3c;
	text-align: center;
	padding: 10px;
	width: 20px;
	margin-left: 5px;
	display: inline;
}


.selected-buttons{
	padding-bottom:20px;
}

.btn{
	margin-right: 5px;
}

.btn-info{
	width: auto;
}




/* MIDDLE MIDDLE SECTION */
.input-group{
	width: 200px;
}

.middle-middle{
	height: 80px;
	margin-bottom: 0;
	max-height: auto;
}



/* BOTTOM MIDDLE */
.bottom-middle{
	background: black;
	color: white;
	border-radius: 2%;
	overflow-y: scroll;
	height: 500px;
}

th{
	text-align: center;
}



/* MIDDLE-LEFT SECTION */
.middle-left{
	margin-top:2px; 
	background: #222;
	color: #8c8c8c;
	border-radius: 2%;
	padding-left: 5px;
	overflow-y: scroll;
	height: auto;
	max-height: 600px;
}
.round{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	height: 20px;
}
/*
.round-item{
	border: 1px solid black;
}
*/
.round-name, .round-number{
	font-size: 25px;
}

.round-image{
	width: 50px;
	height: 50px;
}



/* TOP-RIGHT SECTION*/
.top-right{
	background: #222;
	color: #8c8c8c;
}

.queue-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.queue-list{
	overflow-y: scroll;
	height: auto;
	max-height: 100px;
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
}




/* MIDDLE-RIGHT SECTION */
.middle-right{
	background: #222;
	color: #8c8c8c;
	margin-top: 15px;
}

.history-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;
}

.history-list{
	overflow-y: scroll;
	height: auto;
	max-height: 300px;
}

.draft-history{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 20px;
}

.history-round{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	padding-left: 5px;
}

.draft-league{
	font-size: 15px;
	margin-left: 10px;
}



/* BOTTOM RIGHT SECTION */
.bottom-right{
	background: #222;
	color: #8c8c8c;
	margin-top: 15px;	
}

.roster-title{
	text-align: center;
	font-size: 18px;
	padding-top: 10px;	
}




@media(min-width: 1200px){
	.container {
    	width: 1570px;
	}
}


