body{
  background: url(../images/backgrounds/goal.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.small-version{
	height: 200px;
	width: 300px;
	border-radius: 4%;
}

.large-version{
	width:auto;
	height:auto;
	text-align: center;
}

h4{
	font-size: 30px;
}