body{
  background: url(../images/backgrounds/curry.png) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.matchuptr{
    text-align: left;
}

tr:hover {background-color: #e74c3c}

caption {
    color: white;
    font-size: 20px !important;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
2     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

.teamleft{
    text-align: left;

}

.teamright{
    text-align: right;

}

.teamlogo{
}


@media screen and (max-width: 435px) {
    .hide { display: none; }
    caption {font-size: 10px !important}
    th,td { font-size: 9px !important; }
}

@media screen and (max-width: 414px) {
    .hide { display: none; }
    caption {font-size: 10px !important}
    th,td { font-size: 9px !important; }
    section h2.section-heading{
      margin-left: 5px;
    }
    section h3.section-heading{
      margin-left: 140px;
    }
    element.style{
      padding-right: 30px;
      padding-left: 7px;
    }
}

@media screen and (max-width: 375px) {
    .hide { display: none; }
    caption {font-size: 10px !important}
    th,td { font-size: 9px !important; }
}

@media screen and (max-width: 320px) {
    .hide { display: none; }
    caption {font-size: 9px !important}
    th,td { font-size: 7px !important; }
}

