div#load_screen{
  background: #000;
  opacity: 0.9;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 1600px;
}

div#load_screen > div#loading {
  color: #fff;
  width: 120px;
  height: 24px;
  margin: 300px auto;
}

#image{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
.slider1 {
  position: absolute;
  bottom: 0;
  margin-top: 75px;
  background: black;
  max-width: 100%;
}
.slider1:after {
  content: '';
  display: block;
  clear: both;
}

.slide {
  width: 180px;
  height: 85px;
  float: left;
  background: #303136;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  padding:10px;
}
*/

.bx-wrapper{
  margin-bottom: 15px !important;
  font-weight: bold !important;
}

.bx-viewport{
  height: 60px !important;
}

.slide{
  color: black;
  text-align: center;
  font-size: 12px;
}
