
.league_name{
  font-size: 50px;
  color: #e74c3c;
  display:inline;
  text-decoration: none !important;
  text-align: center;
}

body{
  background: url(../images/other/football.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
.delete_color{
    color: #e74c3c;
    font-size: 50px;
    margin-left: 5px;
}

.delete_color:hover{
    color: white;
}

#gotoSecondStep{
    position: absolute;
    bottom: 0;
    right: 0; 
    color: #e74c3c;
    font-size: 50px;
    margin-left: 5px;
    display: inline;
}

#gotoSecondStep:hover{
    color: white;
}

.firstStep{
    height: 300px;
    text-align: center;
}

.create-header{
    font-size: 50px;
    text-align: left;
    color: white;
}

.form-group input{
    height: 62px;
    max-width: 600px;
    font-size: 30px;
    border-radius: 5%;
    color: black;
}

.form-group select{
    height: 62px;
    max-width: 600px;
    font-size: 30px;
    border-radius: 5%;
    color: black;
}

.alert{
    max-width: 600px;
}

#gotoThirdStep, #back, #back2{
   height: 100px;
   width: 400px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e74c3c;
  font-size: 40px;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#gotoThirdStep, #back2{
   position: absolute;
   top: 80px;
   left: 20px; 
}

#back{
   position: absolute;
   top: 200px;
   left: 20px;  
}

#gotoThirdStep:hover, #back:hover, #back2:hover {
  background: #e74c3c;
  color: white;
  text-decoration: none;
}

#create, #join{
    color:black;
    background: #e74c3c;
    border-radius: 28px;
    border: none;
}

#create:hover, #join:hover{
    color:#e74c3c;
    background: white;
}
*/