
.league_name{
    font-size: 20px;
    color: #e74c3c;
    display:inline;
    text-decoration: none !important;
    text-align: center;
}

body{
    background: url(../images/backgrounds/football.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input{
    color:black;
}

.form-control{
    height: 44px;
}

.delete_color{
    color: #e74c3c;
    font-size: 15px;
    margin-left: 5px;
}

.delete_color:hover{
    color: #000;
}
.del_logo{
    float: right;
    margin-right: 5px !important;

}
.drop_logo{
    float: left;
    color: #e74c3c;
    font-size: 15px;
    margin-left: 5px;
}
.grey-area{
  background: #303136;
  padding: 20px;
  border-radius: 2%;
}
.members{
    font-size: 10px;
    color: #fff;
    background-color: #000;
    margin-top: 5px !important;
    margin-bottom: 20px !important;
    padding: 10px;
}
/*
.members tr:hover{
    background-color: #454551;
    color: #000;
}
*/
.league_list{
    padding: 9px 15px !important;
}
.member-status-off{
    font-size: 16px;
    color:#e74c3c;
}
.member-status-on{
     font-size: 16px;
    color: #5cb85c;
}

.fa-minus-circle{
    color: purple;
}
/*
#gotoSecondStep{
    position: absolute;
    bottom: 0;
    right: 0; 
    color: #e74c3c;
    font-size: 50px;
    margin-left: 5px;
    display: inline;
}

#gotoSecondStep:hover{
    color: white;
}

.firstStep{
    height: 300px;
    text-align: center;
}

.create-header{
    font-size: 50px;
    text-align: left;
    color: white;
}

.form-group input{
    height: 62px;
    max-width: 600px;
    font-size: 30px;
    border-radius: 5%;
    color: black;
}

.form-group select{
    height: 62px;
    max-width: 600px;
    font-size: 30px;
    border-radius: 5%;
    color: black;
}

.alert{
    max-width: 600px;
}

#gotoThirdStep, #back, #back2{
   height: 100px;
   width: 400px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e74c3c;
  font-size: 40px;
  background: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#gotoThirdStep, #back2{
   position: absolute;
   top: 80px;
   left: 20px; 
}

#back{
   position: absolute;
   top: 200px;
   left: 20px;  
}

#gotoThirdStep:hover, #back:hover, #back2:hover {
  background: #e74c3c;
  color: white;
  text-decoration: none;
}

#create, #join{
    color:black;
    background: #e74c3c;
    border-radius: 28px;
    border: none;
}

#create:hover, #join:hover{
    color:#e74c3c;
    background: white;
}
*/