body{
  background: url(../images/backgrounds/baseball.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.scoreboard{
  border-collapse: collapse;
    width: 100%;
}

.fa-backward{
  font-size: 30px;
}

.fa-backward:hover{
  cursor: pointer;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
}
th, td {
  text-align: center;
  border-bottom: 1px solid #ddd;
    padding: 8px;
    font-size: 20px;
    color: black;
}
tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

.cap{
  color: white;
  font-size: 30px;
}

.heading{
  text-align: center;
  color: white;
  font-size: 40px;
}





.roster-img{
	width: 210px;
	height: 170px;
}

.roster-img:hover{
	cursor: pointer;
}

#add-image{
  height: 140px;
  width: 140px;
  border-radius: 15%;
  margin-top: 15px;
  text-align: center;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
}

#close{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

#close:hover{
  cursor: pointer;
}

#add-area {
    width: 700px;
    height:250px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 35%;
    margin-top: -100px;
    margin-left: -100px;
    background-color: #303136;
    color: #e74c3c;
    border-radius: 5px;
    text-align: center;
    z-index: 11; 
}

h4:hover{
  cursor: pointer;
}
