body{
  background: url(../images/backgrounds/baseball.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.roster-img{
	width: 210px;
	height: 170px;
}

.roster-img:hover{
	cursor: pointer;
}