body{
  background: url(../images/backgrounds/baseball.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.scoreboard{
  border-collapse: collapse;
    width: 100%;
}

.fa-backward{
  font-size: 30px;
}

.fa-backward:hover{
  cursor: pointer;
}

.grey-area{
  background: #303136;
  padding: 20px;
  border-radius: 2%;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

th{
  text-align: center;
}

.right{
  text-align: right;
}


.cap{
  color: white;
  font-size: 30px;
}

.heading{
  text-align: left;
  color: white;
  font-size: 30px;
}

.roster-img{
  width: 70px;
  height: 60px;
  border-radius: 50%;
}

.fa-arrows{
  font-size: 25px;
  color: #e74c3c;
}

.fa-arrows:hover{
  cursor: pointer;
}




