body{
  background: url(../images/backgrounds/baseball.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

tr:hover {background-color: #e74c3c}

.nohover:hover{
    background-color: #f2f2f2;
}

caption {
    color: white;
    font-size: 20px !important;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

.roster-img{
  width: 70px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

@media screen and (max-width: 1000px){
  th,td{
    font-size: 15px !important;
  }
  .roster-img{
    width: 35px !important;
    height: 30px !important;
  }
}

@media screen and (max-width: 715px){
  th,td{
    font-size: 12px !important;
  }
}

@media screen and (max-width: 575px) {
    th,td { font-size: 9px !important; }
}

@media screen and (max-width: 485px) {
    th,td { font-size: 7px !important; }
}




