body{
  background: url(../images/backgrounds/hockey.jpg) no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.table>tbody>tr>td{
  vertical-align: middle;
}

.to-right{
  float: right;
}

.to-right:hover{
  cursor: pointer;  
}

.roster-img{
  width: 70px;
  height: 60px;
  border-radius: 50%;
}

.fa-exchange{
  font-size: 25px;
  color: #e74c3c;
}

.fa-exchange:hover{
  cursor: pointer;
}

.nav-tabs{
  background-color:#161616;
}

.grey-area{
  background: #303136;
  margin-bottom: 20px;
}

#myTab{
  width: 100%;
}

.nav-tabs > li > a{
  border: medium none;
  color: #e74c3c;
  font-size: 15px;
  margin-left: 30px;
}

.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #303136 !important;
}

.resize{
  width: 80px;
  height: 75px;
  border-radius: 50%;
  float: left;
}

.resize:hover{
  cursor: pointer;
}

h4{
  font-size: 25px;
}

tr:hover {
  background-color: #e74c3c;
  cursor: pointer;
}

tr .no-hover:hover{
  background-color: #f2f2f2;
}

caption {
    color: white;
    font-size: 20px !important;
}

caption:hover{
  cursor: pointer;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px !important;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
     margin-bottom: 1cm;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-size: 20px !important;
    color: black;
}

#completeTrade{
  background: black;
  color: #e74c3c;
  text-align: center;

}

tr {
    background-color: #f2f2f2;
    color: black;
}

th {
    background-color: #303136;
    color: white;
}

.roster-img{
  width: 70px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.trading_names{
  font-size: 15px;
}


@media screen and (max-width: 1000px){
  th,td{
    font-size: 15px !important;
  }
  .roster-img{
    width: 35px !important;
    height: 30px !important;
  }

  .nav-tabs > li > a{
    font-size: 12px !important;
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 715px){
  th,td{
    font-size: 12px !important;
  }

  .nav-tabs > li > a{
    font-size: 10px !important;
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 575px) {
    th,td { 
      font-size: 9px !important; 
    }

    .nav-tabs > li > a{
      font-size: 6px !important;
      margin-left: 2px !important;
    }
}

@media screen and (max-width: 485px) {
    th,td { font-size: 7px !important; }
}
